<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jacky.com</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/books">Books</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="'/favourites'">Favourites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
