<div class="container">
  <div class="row">
    <div class="col-xs-8">

      <a class="list-group-item clearfix" *ngFor="let book of books; let i = index">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ book.title }}</h4>
          <p class="list-group-time-text">Author :{{ book.author }}</p>
          <p class="list-group-time-text">Year :{{ book.year }}</p>
          <p class="list-group-time-text">ISBN :{{ book.isbn }}</p>

        </div>
        <span class="pull-right">
        <button class="btn btn-success" (click)="onAddBook(book)" [disabled]="getInfo(book)">Add</button>
        </span>
      </a>

    </div>
  </div>
</div>
